.container-custom-nav{
  width: 100%;
  max-width: 1650px;
}
.homepage-bg{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 800px;
}
.rating-info-zone{
  width: 100%;
  max-width: 300px;
  justify-content: space-between;
}
.content-area{
  padding-top: 50%;
}
.title{
  word-spacing: 20px;
  letter-spacing: 15px;
}

.paragraph{
  line-height: 30px;
  font-weight: 500;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  opacity: 0.6;
  top: 0;
}