.nav-responsive{
  display: none;
  @media only screen and (max-width: 991px){
    display: block;
  }
}
.sidebar{
  width: 250px;
  display: block;
  z-index: 1;
}
.sidebar-left{
  float: left;
  @media only screen and (max-width: 991px){
    display: none;
  }
}
.sidebar-right{
  float: right;
  @media only screen and (max-width: 1124px){
    display: none;
  }
}
.middle-content{
  float: left;
  display: block;
  margin: 0 250px;
  @media only screen and (max-width: 1124px){
    width: calc(100% - 250px);
  }
  @media only screen and (max-width: 991px){
    width: 100%;
    margin: 0;
  }
  .search-responsive{
    display: none;
    @media only screen and (max-width: 1124px){
      display: block;
    }
    @media only screen and (max-width: 991px){
      margin-top:60px;
    }
  }
}
.slider{
  display: block;
  height: 400px;
  .overlay-custom{
    @media only screen and (max-width: 1260px) {
      left: 25%;
      opacity: 0.7;
    }
  }
  .responsive-slider{
    @media only screen and (max-width: 1260px){
      left: 0!important;
      top: 45%;
    }

  }
}
.hov{
  opacity: 0;
  transition: 0.5s all ease;
  &:hover{
    opacity: 1;
  }
}
.img-box{
  width: 100%;
  height: 400px;
}
.badge{
  margin-right: 3px;
}
.badge:nth-last-child(1){
  margin-right: 0;
}

.btn-width{
  max-width: 300px;
  width: 100%;
}

