.card-custom {
  height: 340px;
  max-width: 250px;
  width: 100%;
  box-shadow: 0 0 10px rgba(#ffffff,0.3);
  border-radius: 30px;
  .image img {
    border-radius: 30px;
  }

  .hov-content {
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  &:hover .hov-content{
    opacity: 1;
    transition: all 500ms ease-in-out;
  }
  @media only screen and (max-width: 460px) {
    height: 290px;
  }
  @media only screen and (max-width: 375px) {
    height: 225px;
  }
}

.lowkey{
  width: 550px;
  height: 90px;
  .quick-image{
  }
}
